input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}


form div:not(:first-child){
    padding-top: 0.5rem;
}


form label{
    padding-left: 0.4rem;
    padding-bottom: 0.1rem;
    font-size: medium;
}

.add-Contact{
    color: white;
    width: 15%;

}