/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

ul{
  list-style-type:none;
  margin: 0;
  padding :0
}

li{

  /* background-color: red; */
  margin: 0 0.1rem;
  cursor: pointer;
}

.main-section{
  padding-left: 1.5rem;
}

.sub-deatils p{
  margin :0 ;
  padding:0.2rem ;
}

.conatct-deta{
  /* padding-left: 5%;  not working */
  padding-top: 1%;
}
.navbar  Button{

}

.linkButton{
  text-decoration: none;
  color: black;
}
.linkButton:hover {
  background-color: #CEE7F2;

} 

.active{
  /* background-color: #CEE7F2; */
  background-color: #4dc8fd;
}



@media only screen and (max-width: 950px){
    .list-section{
      width: 100% !important; 

    }
    .details-sectoin{
      width: 100% !important; 
      
    }

    .list-section ul {
      height: 16vh;
      overflow: auto;
  }
}

